@import url(https://fonts.googleapis.com/css?family=Raleway|Lato&display=swap);
.title-slide {
  background-image: url('../images/University of Lincoln_logo_General White Landscape.png');
  background-size: 30%;
  background-position: 50% 10%;
}
.large {
  font-size: 120%;
}

/* custom.css */
.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}

body { 
  font-family: 'Lato', sans-serif; 
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: medium;
}

.remark-slide-content {
    font-size: 24px;
    padding: 1em 4em 1em 4em;
}

.red {
  color: red;
}

.orange{
  color: #FEBC38;
}

.brown{
  color: #F6893D;
}

.yellow{
  color: yellow;
}

.blue{
  color: blue;
}

.green{
  color: green;
}